* {
  box-sizing: border-box;
}
html,
body {
  overflow: hidden;
}
body {
  display: flex;
  align-items: stretch;
  height: 100vh;
}
body > * {
  flex: 0 1 100%;
}
.atom-version {
  color: rgba(0, 0, 0, 0.3);
}
.atom-avatar {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.atom-avatar img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.atom-avatar .uk-icon {
  line-height: 75px;
}
@media (min-width: 600px) {
  .atom-detailTitle {
    margin-top: 0;
  }
}
.molecule-addAndCheckInForm .molecule-addAndCheckInForm__name {
  text-transform: capitalize;
}
.molecule-checkInInterfaceEntry__checkOutButton {
  position: relative;
}
.molecule-checkInInterfaceEntry__checkOutButton .uk-icon {
  position: relative;
  top: -1px;
  right: -7px;
}
.molecule-checkInInterfaceEntry__checkOutButton .uk-button-default {
  padding: 0 20px;
}
.molecule-checkInInterfaceEntry__checkOutButton .uk-button-danger {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 100ms;
}
.molecule-checkInInterfaceEntry__checkOutButton .uk-button-danger:hover {
  opacity: 1;
}
.molecule-cohort {
  font-size: .8rem;
  max-width: 100%;
  overflow: auto;
  display: block;
}
.molecule-cohort td {
  padding: 7px;
}
.molecule-personTitle .badges {
  line-height: 0;
}
.molecule-personTitle .badges * {
  line-height: initial;
}
.molecule-personTitle .badges .uk-badge {
  padding: 0 10px;
}
.molecule-personTitle .badges .interval span {
  margin-left: 2px;
}
.molecule-workflowEntry {
  display: flex;
  margin: 5px !important;
}
.molecule-workflowEntry .atom-avatar {
  box-shadow: none !important;
  position: relative;
  left: -1px;
  color: #666;
  background-color: white;
}
.molecule-workflowEntry .atom-avatar img {
  border-radius: 5px 0 0 5px;
}
.molecule-workflowEntry .molecule-workflowEntry__name {
  padding: .8rem;
  width: 121px;
  height: 75px;
  overflow: hidden;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.molecule-workflowStep .molecule-workflowStep__body {
  min-height: 115px;
}
.organism-checkInInterface {
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.organism-checkInInterface .molecule-checkInList {
  flex: 1 1 100%;
}
.organism-content {
  overflow: auto;
  padding-bottom: 75px;
}
@media (min-width: 600px) {
  .organism-content {
    flex: 1 2 auto;
  }
}
.organism-listPanel {
  overflow: auto;
  padding-bottom: 75px;
}
@media (min-width: 600px) {
  .organism-listPanel {
    flex: 0 0 300px;
  }
}
.organism-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  z-index: 10;
  margin-top: 0;
}
.organism-nav > li {
  display: block;
  flex: 1 0 0;
}
.organism-nav > li .label {
  display: none;
}
@media (min-width: 768px) {
  .organism-nav {
    position: relative;
    height: auto;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 7rem;
  }
  .organism-nav > li {
    flex: 0 0 auto;
  }
  .organism-nav > li svg {
    width: 100%;
    height: 40px;
  }
  .organism-nav > li .label {
    display: inline;
  }
}
@media (min-width: 1550px) {
  .layout-contentColumns {
    display: flex;
  }
  .layout-contentColumns > .main {
    flex: 0 0 66%;
  }
  .layout-contentColumns > .secondary {
    flex: 0 0 33%;
  }
}
.layout-listLayout {
  display: flex;
}
.layout-listLayout .organism-listPanel,
.layout-listLayout .organism-content {
  position: relative;
  left: 0;
  transition: left 300ms;
}
.layout-listLayout .detail-active .organism-listPanel,
.layout-listLayout .detail-active .organism-content {
  left: -100%;
}
@media (min-width: 600px) {
  .layout-listLayout .to-list {
    display: none;
  }
  .layout-listLayout .detail-active .organism-listPanel,
  .layout-listLayout .detail-active .organism-content {
    left: 0;
  }
}
/*# sourceMappingURL=global.css.map */