@screenXsMin: 600px;
@screenSmMin: 768px;
@screenMdMin: 992px;
@screenLgMin: 1200px;

@screenXsMax: ( @screenSmMin - 1 );
@screenSmMax: ( @screenMdMin - 1 );
@screenMdMax: ( @screenLgMin - 1 );

* {
	box-sizing: border-box;
}

html, body {
	overflow: hidden;
}

body {
	display: flex;
	align-items: stretch;
	height: 100vh;
	> * {
		flex: 0 0 100%;
	}
}

.atom-version {
	color: rgba(0,0,0,.3);
}

@import "atom-detailTitle";

@import "organism-content";
@import "organism-listPanel";
@import "organism-nav";

@import "layout-default";