<!doctype html>

<html lang="en" class="uk-width-1-1">
<head>
	<meta charset="utf-8">
	
	<title>Church Life Tools</title>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/css/uikit.min.css" />
	<link rel="stylesheet" href="../css/global.css" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit-icons.min.js"></script>
	
	<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script src="../js/responsive.js"></script>
	
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="../js/event-detail.js"></script>
</head>

<body>

{% include "components/organism-nav.html" %}

<div class="organism-listPanel uk-card uk-card-default uk-padding">
	{% block listPanel endblock %}
</div>

<div class="organism-content uk-card uk-card-default uk-padding-small">
	<a href="#" class="to-list">{% block backTitle endblock %}</a>
	<h2 class="atom-detailTitle">{% block pageTitle endblock %}</h2>
	
	{% block content %}{% endblock %}
	
	<span class="atom-version">Version 0.4.18</span>
</div>

</body>
</html>