<div class="molecule-intervalBadge uk-inline">
	<a href="#" class="uk-badge interval">Monthly <span uk-icon="icon: chevron-down"></span></a>
	<div uk-dropdown class="uk-padding-small">
		<ul class="uk-list uk-margin-remove-bottom">
			<li><a href="#">Daily</a></li>
			<li><a href="#">Weekly</a></li>
			<li><a href="#">Monthly</a></li>
			<li><a href="#">Yearly</a></li>
			<li><a href="#interval-modal" uk-toggle>Custom</a></li>
		</ul>
	</div>
</div>

<div id="interval-modal" uk-modal>
	<div class="uk-modal-dialog uk-modal-body">
		<h2 class="uk-modal-title">Set Custom Interval</h2>

		<p>Every <input class="uk-input uk-form-width-small" type="number" placeholder="number" value="1"> <select class="uk-select uk-form-width-small">
				<option>days</option>
				<option>weeks</option>
				<option>months</option>
				<option>years</option>
			</select></p>
		
		<p class="uk-text-right">
			<button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
			<button class="uk-button uk-button-primary" type="button">Save</button>
		</p>
	</div>
</div>