<ul class="molecule-feed uk-list uk-list-divider">
	<li>
		<img src="https://randomuser.me/api/portraits/med/men/1.jpg" class="uk-border-rounded uk-box-shadow-medium" width=40 /> <b>John Doe</b> assigned himself to James Doe <div class='date'>9/8/17 9:34am</div></li>
	<li>
		<img src="https://randomuser.me/api/portraits/med/men/1.jpg" class="uk-border-rounded uk-box-shadow-medium" width=40 /><b>John Doe</b> moved James Doe to step 3: "The Heart of God" <div class='date'>9/8/17 9:34am</div></li>
	<li><b>Jack Doe</b> was assigned to James Doe <div class='date'>9/8/17 9:34am</div></li>
	<li>
		<img src="https://randomuser.me/api/portraits/med/men/1.jpg" class="uk-border-rounded uk-box-shadow-medium" width=40 /><b>John Doe</b> assigned <b>Jack Doe</b> to James Doe <div class='date'>9/8/17 9:34am</div></li>
	<li>
		<img src="https://randomuser.me/api/portraits/med/men/1.jpg" class="uk-border-rounded uk-box-shadow-medium" width=40 /><b>John Doe</b>
		<p class='uk-background-muted uk-padding-small'>Hello world.</p>
		9/8/17 9:34am - <a href="#">edit</a> - <a href="#">delete</a>
	</li>
</ul>