<div class="uk-margin">
	<label class="uk-form-label uk-text-large">Custom Fields</label>
	<div class="uk-form-controls">
		<ul class="uk-list" uk-sortable="handle: .uk-sortable-handle">
			<li>
				<span class="uk-sortable-handle uk-margin-small-right" uk-icon="icon: table"></span>
				<input class="uk-input uk-form-width-small" type="text" placeholder="Label">
				<input class="uk-input uk-form-width-medium" type="text" placeholder="Value">
				<label class="uk-margin-small-left uk-margin-small-right"><input class="uk-checkbox" type="checkbox" checked> Private</label>
				<a href="#"><span uk-icon="icon: trash"></span></a>
			</li>
			<li>
				<span class="uk-sortable-handle uk-margin-small-right" uk-icon="icon: table"></span>
				<input class="uk-input uk-form-width-small" type="text" placeholder="Label">
				<input class="uk-input uk-form-width-medium" type="text" placeholder="Value">
				<label class="uk-margin-small-left uk-margin-small-right"><input class="uk-checkbox" type="checkbox" checked> Private</label>
				<a href="#"><span uk-icon="icon: trash"></span></a>
			</li>
		</ul>
		<a href="#">Add</a>
	</div>
</div>