<div class="uk-margin">
	<label class="uk-form-label uk-text-large" for="birthday">Email Addresses</label>
	<div class="uk-form-controls">
		<ul class="uk-list" uk-sortable="handle: .uk-sortable-handle">
			<li>
				<span class="uk-sortable-handle uk-margin-small-right" uk-icon="icon: table"></span>
				<input class="uk-input uk-form-width-small" type="text" placeholder="Label">
				<input class="uk-input uk-form-width-medium" type="text" placeholder="Address">
				<label class="uk-margin-small-left uk-margin-small-right"><input class="uk-checkbox" type="checkbox" checked> Private</label>
				<a href="#"><span uk-icon="icon: trash"></span></a>
			</li>
			<li>
				<span class="uk-sortable-handle uk-margin-small-right" uk-icon="icon: table"></span>
				<input class="uk-input uk-form-width-small" type="text" placeholder="Label">
				<input class="uk-input uk-form-width-medium" type="text" placeholder="Address">
				<label class="uk-margin-small-left uk-margin-small-right"><input class="uk-checkbox" type="checkbox" checked> Private</label>
				<a href="#"><span uk-icon="icon: trash"></span></a>
			</li>
		</ul>
		<a href="#">Add</a>
	</div>
</div>

<div class="uk-margin">
	<label class="uk-form-label uk-text-large" for="birthday">Phone Numbers</label>
	<div class="uk-form-controls">
		<ul class="uk-list" uk-sortable="handle: .uk-sortable-handle">
			<li>
				<span class="uk-sortable-handle uk-margin-small-right" uk-icon="icon: table"></span>
				<input class="uk-input uk-form-width-small" type="text" placeholder="Label">
				<input class="uk-input uk-form-width-medium" type="text" placeholder="Number">
				<label class="uk-margin-small-left uk-margin-small-right"><input class="uk-checkbox" type="checkbox" checked> Private</label>
				<a href="#"><span uk-icon="icon: trash"></span></a>
			</li>
			<li>
				<span class="uk-sortable-handle uk-margin-small-right" uk-icon="icon: table"></span>
				<input class="uk-input uk-form-width-small" type="text" placeholder="Label">
				<input class="uk-input uk-form-width-medium" type="text" placeholder="Number">
				<label class="uk-margin-small-left uk-margin-small-right"><input class="uk-checkbox" type="checkbox" checked> Private</label>
				<a href="#"><span uk-icon="icon: trash"></span></a>
			</li>
		</ul>
		<a href="#">Add</a>
	</div>
</div>

<div class="uk-margin">
	<label class="uk-form-label uk-text-large" for="label">Addresses</label>
	<ul class="uk-list uk-list-divider" uk-sortable="handle: .uk-sortable-handle">
		<li class="uk-form-controls" uk-margin>
			<span class="uk-sortable-handle uk-margin-small-right" uk-icon="icon: table"></span>
			<input class="uk-input uk-form-width-large" id="label" type="text" placeholder="Label">
			<input class="uk-input uk-form-width-large" id="street" type="text" placeholder="Street">
			<input class="uk-input uk-form-width-medium" id="city" type="text" placeholder="City">
			<input class="uk-input uk-form-width-small" id="state" type="text" placeholder="State">
			<input class="uk-input uk-form-width-small" id="zip" type="text" placeholder="Zip">
			<div class="uk-margin">
				<label class="uk-margin uk-margin-small-right"><input class="uk-checkbox" type="checkbox" checked> Private</label>
				<a href="#"><span uk-icon="icon: trash"></span></a>
			</div>
		</li>
		<li class="uk-form-controls" uk-margin>
			<span class="uk-sortable-handle uk-margin-small-right" uk-icon="icon: table"></span>
			<input class="uk-input uk-form-width-large" id="label" type="text" placeholder="Label">
			<input class="uk-input uk-form-width-large" id="street" type="text" placeholder="Street">
			<input class="uk-input uk-form-width-medium" id="city" type="text" placeholder="City">
			<input class="uk-input uk-form-width-small" id="state" type="text" placeholder="State">
			<input class="uk-input uk-form-width-small" id="zip" type="text" placeholder="Zip"><br>
			<div class="uk-margin">
				<label class="uk-margin uk-margin-small-right"><input class="uk-checkbox" type="checkbox" checked> Private</label>
				<a href="#"><span uk-icon="icon: trash"></span></a>
			</div>
		</li>
	</ul>
</div>