<div class="molecule-addAndCheckInForm uk-margin-small-left uk-margin-right uk-margin-top uk-margin-bottom uk-grid-small" uk-grid>
	<div class="uk-width-1-2"><input class="uk-input" type="text" placeholder="First Name"></div>
	<div class="uk-width-1-2"><input class="uk-input" type="text" placeholder="Last Name"></div>
	<div class="uk-width-1-1"><input class="uk-input" type="text" placeholder="Address"></div>
	
	<div>
		<button class="uk-button uk-button-primary">Create and check in</button>
	</div>
</div>