<div class="uk-margin">
	<label class="uk-form-label uk-text-large" for="first-name">Name</label>
	<div class="uk-form-controls">
		<input class="uk-input uk-form-width-medium" id="first-name" type="text" placeholder="First Name">
		<input class="uk-input uk-form-width-medium" id="last-name" type="text" placeholder="Last Name">
	</div>
</div>

<div class="uk-margin">
	<label class="uk-form-label uk-text-large" for="birthday">Birthday</label>
	<div class="uk-form-controls">
		<input class="uk-input uk-form-width-large" id="birthday" type="text" placeholder="Birthday">
	</div>
</div>

<div class="uk-margin">
	<div class="uk-form-label uk-text-large">Gender</div>
	<div class="uk-form-controls">
		<label><input class="uk-radio" type="radio" name="radio1"> Male</label><br>
		<label><input class="uk-radio" type="radio" name="radio1"> Female</label><br>
		<label><input class="uk-radio" type="radio" name="radio1"> Prefer not to say</label>
	</div>
</div>