<div class="organism-checkInInterface uk-margin-auto-left uk-margin-auto-right uk-card uk-card-default">
	<div class="uk-padding">
		<h1 class="uk-margin-remove-bottom">My Event</h1>
		<h4 class="uk-margin-remove-top uk-margin-remove-bottom">Thursday, August 3, 7:15–8:00pm</h4>
		<h4 class="uk-margin-remove-top">The Millennial Man</h4>
		<a href="event-detail.html" class="uk-modal-close-default" uk-close></a>
		<input class="uk-input" type="text" placeholder="Search">
	</div>
	
	{% include "components/molecule-checkInList.html" %}
</div>