<ul class="organism-nav uk-text-center uk-background-muted">
	<li><a href="#"
				class="uk-flex uk-flex-column uk-padding-small uk-padding-remove-left uk-padding-remove-right"><i
					uk-icon="icon: thumbnails"></i></a></li>
	<li><a href="#"
				class="uk-flex uk-flex-column uk-padding-small uk-padding-remove-left uk-padding-remove-right"><i
					uk-icon="icon: user"></i></a></li>
	<li><a href="#"
				class="uk-flex uk-flex-column uk-padding-small uk-padding-remove-left uk-padding-remove-right"><i
					uk-icon="icon: users"></i></a></li>
	<li><a href="#"
				class="uk-flex uk-flex-column uk-padding-small uk-padding-remove-left uk-padding-remove-right uk-background-primary uk-light"><i
					uk-icon="icon: calendar"></i></a></li>
	<li><a href="#"
				class="uk-flex uk-flex-column uk-padding-small uk-padding-remove-left uk-padding-remove-right"><i
					uk-icon="icon: heart"></i></a></li>
	<li><a href="#"
				class="uk-flex uk-flex-column uk-padding-small uk-padding-remove-left uk-padding-remove-right"><i
					uk-icon="icon: world"></i></a></li>
	<li><a href="#"
				class="uk-flex uk-flex-column uk-padding-small uk-padding-remove-left uk-padding-remove-right"><i
					uk-icon="icon: file-edit"></i></a></li>
</ul>