{% extends "components/layout-contentColumns.html" %}

{% block header %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="../js/event-detail.js"></script>
{% endblock %}

{% block backTitle %}< Events{% endblock %}

{% block listPanel %}
	<h2>Events</h2>
	<ul>
		<li><a href="#" class="to-detail">Event</a></li>
		<li><a href="#" class="to-detail">Event</a></li>
		<li><a href="#" class="to-detail">Event</a></li>
		<li><a href="#" class="to-detail">Event</a></li>
		<li><a href="#" class="to-detail">Event</a></li>
	</ul>
{% endblock %}

{% block mainPanel %}
	<h1>Event 3.5b</h1>
	
	<ul uk-tab>
		<li class="uk-active"><a href="#">Statistics</a></li>
		<li><a href="event-attendees.html">Attendees</a></li>
	</ul>
	
	<h3>Attendance Over Time</h3>
	<div id="chart_div"></div>
	
	<h3>Visitor Retention</h3>
	{% include "components/molecule-cohort.html" %}
{% endblock %}

{% block secondaryPanel %}
	{% include "components/molecule-recordAttendanceWidget.html" %}
	
	<div class="uk-overflow-auto">
		<table class="profile-info uk-table uk-table-small uk-table-divider">
			<tbody>
			<tr>
				<td>Location</td>
				<td>Church Gym</td>
			</tr>
			<tr>
				<td>Recur</td>
				<td>Weekly: Thur, Fri, Sat</td>
			</tr>
			<tr>
				<td>Start</td>
				<td>June 7</td>
			</tr>
			<tr>
				<td>End</td>
				<td>June 27</td>
			</tr>
			<tr>
				<td>Workflow</td>
				<td>Workflow 3</td>
			</tr>
			</tbody>
		</table>
	</div>
{% endblock %}