{% extends "components/layout-listLayout.html" %}

{% block content %}
	<h1>My Workflow</h1>
	
	<input id="workflow-filter" class="uk-input" type="text" placeholder="Search">
	
	{% embed "components/molecule-workflowStep.html" with {title: "The Heart of God"} only %}
		{% block stepBody %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
		{% endblock %}
	{% endembed %}
	
	{% embed "components/molecule-workflowStep.html" with {title: "The Heart of God"} only %}
		{% block stepBody %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
		{% endblock %}
	{% endembed %}
	
	{% embed "components/molecule-workflowStep.html" with {title: "The Heart of God"} only %}
		{% block stepBody %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
			{% include "components/molecule-workflowEntry.html" %}
		{% endblock %}
	{% endembed %}
	
	{% embed "components/molecule-workflowStep.html" with {title: "The Heart of God"} only %}
		{% block stepBody %}
		{% endblock %}
	{% endembed %}
	
	<script>
		$(document).ready(function () {
			$('#workflow-filter').on('keyup', function () {
				var val = $(this).val();

				$('.molecule-workflowEntry').each(function	() {
					var $this = $(this);
					var name = $this.find('.molecule-workflowEntry__name').text();
					var filterMatchesName = name.toLowerCase().includes(val.toLowerCase());
					$this.toggle(filterMatchesName);
				});
			});
		});
	</script>
{% endblock %}