{% extends "components/layout-listLayout.html" %}

{% import _self as macros %}

{% macro step(title, max) %}
	{% embed "components/molecule-workflowStep.html" with {title: title} only %}
		{% block stepBody %}
			{% include "components/molecule-workflowEntry.html" %}
		{% endblock %}
	{% endembed %}
{% endmacro %}

{% block content %}
	<h1>My Workflow</h1>
	
	<input id="workflow-filter" class="uk-input" type="text" placeholder="Search">
	
	{{ macros.step("The Heart of God") }}
	{{ macros.step("The Heart of God") }}
	{{ macros.step("The Heart of God") }}
	{{ macros.step("The Heart of God") }}
	
	<script>
		$(document).ready(function () {
			var steps = $('.molecule-workflowStep');
			var max = Math.floor(Math.random()*50);
			var entry = $('.molecule-workflowEntry').first();
			
			steps.each(function() {
				if (Math.random() > .8) {
					$(this).find('.molecule-workflowEntry').remove();
				} else {
					var numberOfEntries = Math.floor(Math.random()*max);
					var stepBody = $('.molecule-workflowStep__body', this)
					for (var i = 0; i < numberOfEntries; i++) {
						entry.clone().appendTo(stepBody);
					}
				}
			});
			
			var entries = $('.molecule-workflowEntry');
			var quantity = entries.length;
			$.ajax({
				url: 'https://randomuser.me/api/?inc=name,picture&results='+quantity,
				dataType: 'json',
				success: function(data) {
					var results = data.results;
					var threshold = Math.random();
					entries.each(function() {
						var r = results.pop();
						var name = r.name.first+' '+r.name.last;
						$('.molecule-workflowEntry__name, .uk-modal-title', this).html(name);
						if (Math.random() > threshold) $('.atom-avatar', this).prepend('<img src="'+r.picture.large+'"  class="uk-border-rounded" />');
					});
				}
			});
			
			$('#workflow-filter').on('keyup', function () {
				var val = $(this).val();

				$('.molecule-workflowEntry').each(function	() {
					var $this = $(this);
					var name = $this.find('.molecule-workflowEntry__name').text();
					var filterMatchesName = name.toLowerCase().includes(val.toLowerCase());
					$this.toggle(filterMatchesName);
				});
			});
		});
	</script>
{% endblock %}