{% extends "components/layout-listLayout.html" %}

{% block content %}
	<h1>My Workflow</h1>
	
	{% embed "components/molecule-workflowStep.html" with {title: "The Heart of God"} only %}
		{% block stepBody %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
		{% endblock %}
	{% endembed %}
	
	{% embed "components/molecule-workflowStep.html" with {title: "The Heart of God"} only %}
		{% block stepBody %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
		{% endblock %}
	{% endembed %}
	
	{% embed "components/molecule-workflowStep.html" with {title: "The Heart of God"} only %}
		{% block stepBody %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
			{% include "components/atom-avatar.html" with {random:true} only %}
		{% endblock %}
	{% endembed %}
	
	{% embed "components/molecule-workflowStep.html" with {title: "The Heart of God"} only %}
		{% block stepBody %}
		{% endblock %}
	{% endembed %}
{% endblock %}